<div class="container__big-card">

    <div class="big-card__photo">
        <img src="https://tse2.mm.bing.net/th?id=OIP.fMoaMKKdYcJgD8OCVddSlAHaEX&pid=Api&P=0&h=180" alt=""
            height="200px"
            srcset="">
    </div>

    <div class="big-card__title">
       <h1>  <a href="#">Coisa Nova vindo ai pessoal Coisa Nova vindo ai pessoalCoisa Nova vindo ai pessoalCoisa Nova vindo ai pessoal</a> </h1>
    </div>

    <div class="big-card__description">
        <p>BlablablablaBlablablablaBlablablablaBlablablablaBlablablablaBlablablablaBlablablabla</p>
    </div>
</div>